.header img {
    height: 420px;
    width: 100%;
}

* {
    margin: 0;
}

h1 {
    color: white;
    font-size: 160px;
    text-align: center;
}

h1 {
    position: absolute;
    top: 130px;
    right: 39%;
    filter: drop-shadow(0 0 10px darkblue);
}