.header img {
    height: 420px;
    width: 100%;
}

* {
    margin: 0;
}

h1 {
    color: white;
    font-size: 160px;
    text-align: center;
}

h1 {
    position: absolute;
    top: 130px;
    right: 39%;
    filter: drop-shadow(0 0 10px rgb(3, 3, 114));
}

body {
    background-color: rgb(13, 12, 12);
}

.founders img {
    width: 450px;
    margin: 40px;
}

p {
    color: white;
}

.container {
    display: flex;
    justify-content: flex-start;
}

p {
    margin-left: 8.2%;
}

h2 {
    margin-left: 50%;
    position: absolute;
    top: 630px;
    color: white;
}

.founders {
    display: flex;
    border-bottom: 3px white;
    padding-bottom: 10px;
}

.hover-text {
    color: white;
    font-size: 23px;
    display: inline-block;
    transition: all 0.3s ease;
}

.hover-text:hover {
    color: blue;
    font-weight: bold;
    font-size: 27px;
}