.header img {
    height: 420px;
    width: 100%;
}

* {
    margin: 0;
}

h1 {
    color: white;
    font-size: 160px;
    text-align: center;
}

h1 {
    position: absolute;
    top: 130px;
    right: 39%;
    filter: drop-shadow(0 0 10px #030372);
    font-family: "Playfair Display", serif;
}

.mainpage {
    background-color: rgb(13, 12, 12);
}

.founders img {
    width: 450px;
    margin: 40px;
}

.container {
    display: flex;
    justify-content: flex-start;
}

h2 {
    margin-left: 60%;
    position: absolute;
    top: 630px;
    color: white;
}

.founders {
    display: flex;
    border-bottom: 3px solid white;
    padding-bottom: -20px;
}

.hover-text {
    color: white;
    font-size: 23.5px;
    display: inline-block;
    transition: all 0.3s ease;
}

.hover-text:hover {
    color: red;
    font-weight: bold;
    font-size: 27px;
}

.founders p {
    color: white;
    margin-left: -21%;
}

@keyframes slideinfromleft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.column2 {
    animation: slideinfromleft 0.8s ease-out;
    transform: translateX(-100%);
    transform: translateX(0);
}

.link {
    position: absolute;
    right: 60px;
    font-size: 140%;
}

.mainhistory {
    background-color: rgba(44, 44, 161, 0.945);
}

.link2 {
    position: absolute;
    bottom: 1.5px;
    font-size: 120%;
    margin: 20px;
}

.bmwstart h1 {
    font-size: 20px;
    position: absolute;
    top: 40px;
}

.bmwplanes {
    position: absolute;
    bottom: 550px;
    left: 450px;
}

.bmwlength h1 {
    font-size: 20px;
    position: absolute;
}